# données
data/
datasets/
*.csv
*.nii
*.nii.gz

# entraînement / modèles
checkpoints/
runs/
logs/
*.pt
*.pth
*.ckpt
wandb/

# python
__pycache__/
*.pyc

# notebooks
.ipynb_checkpoints/

# fichiers d'environnement
.python-version
uv.lock
pyproject.toml
